@model inGear.Models.ViewModels.MyOrdersVM

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4 text-center">My Rentals</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<h4>Open Rentals</h4>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Order.Borrower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Borrower.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Gear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Gear.RentalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OpenOrders)
        {
            <tr>
                <td>
                    <p>@item.Borrower.FirstName @item.Borrower.LastName</p>
                </td>
                <td>
                    <p class="mb-0">@item.Borrower.StreetAddress</p>
                    <p>@item.Borrower.City, @item.Borrower.State @item.Borrower.ZipCode</p>
                </td>
                <td>
                    <p class="mb-0">@item.Gear.Make @item.Gear.Model</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Gear.RentalPrice)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table table-hover">
    <thead>
        <tr class="table-warning">
            <th asp-format="{0:C}">
                @Html.DisplayNameFor(model => model.OpenOrdersTotal)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.OpenOrdersTotal)
            </td>
        </tr>
    </tbody>
</table>
<h4>Completed Rentals</h4>
<table class="table table-hover">
    <thead>
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.Order.Borrower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Borrower.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Gear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.PickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Gear.RentalPrice)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClosedOrders)
        {
            <tr>
                <td>
                    <p>@item.Borrower.FirstName @item.Borrower.LastName</p>
                </td>
                <td>
                    <p class="mb-0">@item.Borrower.StreetAddress</p>
                    <p>@item.Borrower.City, @item.Borrower.State @item.Borrower.ZipCode</p>
                </td>
                <td>
                    <p class="mb-0">@item.Gear.Make @item.Gear.Model</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Gear.RentalPrice)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table table-hover">
    <thead>
        <tr class="table-warning">
            <th asp-format="{0:C}">
                @Html.DisplayNameFor(model => model.ClosedOrdersTotal)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.ClosedOrdersTotal)
            </td>
        </tr>
    </tbody>
</table>

