@model inGear.Models.Gear

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gear</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @{
                var fullName = Model.User.FirstName + " " + Model.User.LastName;
                @Html.DisplayFor(m => fullName)
            }
        </dd>
        <dt class="col-sm-2">
           Location
        </dt>
        <dd class="col-sm-10">
            @{ 
                var location = Model.User.City + ", " + Model.User.State + " " + Model.User.ZipCode;
                @Html.DisplayFor(m => location)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Condition.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class="col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10" hidden>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Insurance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GearId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
